.notifications{
  height: calc(100dvh - 65px);
  display: flex;
  /* border-top-left-radius: 0.5rem; */
  border-radius: 0.5rem;
  align-items: center;
  background: #BEE9E8;
  padding: 2rem;
  justify-content: space-between;
  gap: 1rem;
}
.recentNotifications{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: calc(100dvh - 130px);
  background: #1D7163;
  width: 50%;
  border-radius: 0.5rem;
  padding: 1rem;
  overflow: scroll;
}
.noNotificationsMessage{
  margin: auto;
  color: white;
  text-align: center;
}
.resultDisplayMessage{
  margin: auto;
  color: white;
  text-align: center;
}
.filterSystem{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
.searchForm{
  display: flex;
}
.searchBar{
  display: flex;
  align-items: center;
  background: white;
  border-radius: 0.5rem;
}
.searchInput{
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
  /* width: 100%; */
  width: 300px;
  /* outline-color: #14453D; */
  outline: none;
  border: none;
}
.searchButton{
  background: white;
  border: none;
  padding: 0.5rem 0;
  border-radius: 0.5rem;
  align-self: center;
  justify-self: center;
  cursor: pointer;
  margin-left: -2rem;
}
.searchButton i{
  font-size: 1rem; 
}
.filterButtons{
  margin: 1rem 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
@media(max-width: 50em){
  .filterButtons{
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
  }
}
.filterButtons > button{
  width: max-content;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: none;
  background: #14453D;
  color: white;
  cursor: pointer;
}
.filterButtons > button.selected{
  background: #BB9F06;
}
.notificationCard{
  padding: 1rem;
  display: flex;
  flex-direction: column;
  background: #43C59E;
  border-radius: 0.5rem;
  cursor: pointer;
}
.topContent{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.notificationType{
  color: white;
  font-weight: 600;
  font-size: 1.2rem;
}
.notificationCourseName{
  color: white;
  font-size: 1rem;
  margin-bottom: 1rem;
}
.notificationTime{
  color: whitesmoke;
  font-size: 0.7rem;
}
.notificationTitle{
  color: white;
  font-weight: 500;
  font-size: 0.85rem;
  margin-bottom: 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.notificationDescription{
  color: white;
  font-size: 0.75rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.notificationForm{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100dvh - 130px);
  background: #1D7163;
  width: 50%;
  border-radius: 0.5rem;
  /* padding: 2rem; */
  position: relative;
  overflow: scroll;
}
.notificationMessage{
  /* position: absolute;
  top: 0; */
  text-align: center;
  width: max-content;
  margin: 0 auto;
  padding: 0.5rem 1rem;
  color: white;
  border-radius: 0.5rem;
  background: green;
  display: none;
  transition: all 0.3s linear;
}


.notificationTitle, .notificationDesc{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}


.postDesc > textarea{
  max-height: 150px;
}
.postDueDate{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.postFile{
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.chooseFile{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.chooseFile > label > i{
  font-size: 1.8rem;
  color: #BB9F06;
  cursor: pointer;
}
.chooseFile > select{
  max-width: 100%;
  width: 100%;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}
.postButton{
  align-self: center;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 0.5rem;
  font-weight: 500;
  margin-top: 2rem;
  background: #BB9F06;
  color: white;
  cursor: pointer;
}

/*
POST DETAILS
*/
.notificationDetail{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 2rem;
}
.notificationDetails{
  display: flex;
  flex-direction: column;
}

.notificationDetails > p > span, .notificationDetails > div > p > span{
  font-weight: 500;
  color: #BB9F06;
}
.selectedNotificationTitle{
  color: white;
  font-size: 2rem;
}
.selectedNotificationType, .selectedNotificationTime{
  color: whitesmoke;
  font-size: 0.9rem;
}
.selectedNotificationTime{
  margin-top: 0.5rem;
}

.selectedNotificationDescription{
  margin-top: 2rem;
  color: whitesmoke;
}
.returnButton{
  align-self: center;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 0.5rem;
  font-weight: 500;
  margin-top: 2rem;
  background: #BB9F06;
  color: white;
  cursor: pointer;
}
.clickMessage{
  text-align: center;
  color: white;
}

@media(max-width: 50em){
  .notifications{
    flex-direction: column;
  }
  .recentNotifications{
    width: 100%;
  }
  .notificationForm{
    width: 100%;
  }
}